h1 {
    font-size: 2rem;
    font-family: "Faculty Glyphic", sans-serif;
    padding: 5px;
    margin: 5px;
    font-weight: 400;
    text-decoration: ;
    color: #0A97B0;
    background-color: #FFCFEF ;
}

h2 {
    font-size: 1.5rem;
    font-family: "Dosis", sans-serif;
    padding: 5px;
    margin: 5px;
    font-weight: 400;
    color: #FBFBFB;
    background-color: #0A5EB0;
}

p {
    font-family: "Handlee", cursive;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    color: #0A3981;
    background-color: #E38E49;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: #D91656;
    height: 75px;
    width: 75px;
}
